@import '~react-image-gallery/styles/css/image-gallery.css';
.image-gallery-content .image-gallery-slide {
  z-index: -1;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 100vh !important;
  height: 100vh !important;
  object-fit: cover;
}
