// common
.text-bold {
  font-weight: bold;
}

.text-100 {
  font-weight: 100;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-linethrough {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.text-hidden {
  visibility: hidden;
}

.text-shown {
  visibility: visible;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.flex-grow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.flex-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

// Padding
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-h-0 {
  padding-top: 0;
  padding-right: 0;
}

.p-v-5 {
  padding: 5px 0;
}

.p-v-10 {
  padding: 10px 0;
}

.p-v-15 {
  padding: 15px 0;
}

.p-v-20 {
  padding: 20px 0;
}

.p-v-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-h-5 {
  padding: 0 5px;
}

.p-h-10 {
  padding: 0 10px;
}

.p-h-15 {
  padding: 0 15px;
}

.p-h-20 {
  padding: 0 20px;
}

.p-t-0 {
  padding-top: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-0 {
  padding: 0;
}

// Margin
.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-h-0 {
  margin-top: 0;
  margin-right: 0;
}

.m-v-5 {
  margin: 5px 0;
}

.m-v-10 {
  margin: 10px 0;
}

.m-v-15 {
  margin: 15px 0;
}

.m-v-20 {
  margin: 20px 0;
}

.m-v-0 {
  margin-left: 0;
  margin-right: 0;
}

.m-h-5 {
  margin: 0 5px;
}

.m-h-10 {
  margin: 0 10px;
}

.m-h-15 {
  margin: 0 15px;
}

.m-h-20 {
  margin: 0 20px;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-0 {
  margin: 0;
}

// Width
.width-100 {
  width: 100%;
}