@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Regular.woff2") format("woff2"),
    url("./assets/fonts/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  /* font-family: "Quicksand"; */
}
